#_bcOverlay *, #_bcOverlay *:before, #_bcOverlay *:after {-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
    src: url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

  .bcglyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .bcglyphicon-asterisk:before {
    content: "\002a";
  }
  .bcglyphicon-plus:before {
    content: "\002b";
  }

._bcmodal {
    padding-top: 100px; /* Location of the box */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;    
    overflow-x: hidden;
    overflow-y: auto;    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
._bcmodal-content {
    max-width: 500px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
._bcclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
._bcclose:hover,
._bcclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
._bcmodal-header {
    /* padding: 2px 16px; */
    /* background-color: #5cb85c;
    color: white; */
    padding: 15px;
border-bottom: 1px solid #e5e5e5;
}
._bcmodal-body {padding: 2px 16px;}
._bcmodal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

._bcFixedButton {
    background-color: #222;
    border: 1px solid #999999;
    bottom: 0;
    cursor: pointer;
    height: 55px;
    left: 0;
    min-width: 300px;
    position: fixed;
    right: 0;
    z-index: 1000;
}

._bcFixedButton._bcCollapsed {
    opacity: 0.6;
    min-width: 0;
    border-right: none;
}

._bcFixedButton._bcCollapsed._bcTable > ._bcTableCell:not(:first-child) {
    display: none;
}

._bcFixedButton._bcTable {
    display: table;
}

._bcFixedButton._bcTable > ._bcTableCell {
    display: table-cell;
    vertical-align: middle;
}

._bcFixedButton._bcTable > ._bcTableCell:last-child {
    width: 100%;
}

._bcFixedButton ._bcSwB {
    /*background: url("{{APPLICATION_PATH}}widgetImages/arrow-right.png") no-repeat scroll center center transparent;*/
    border-right: solid 1px #999999;
    display: inline-block;
    height: 100%;
    width: 55px;
}

._bcFixedButton._bcCollapsed ._bcSwB {
    /*background: url("{{APPLICATION_PATH}}widgetImages/arrow-left.png") no-repeat scroll center center transparent;*/
}

._bcFixedButton ._bcShB {
    /*background: url("{{APPLICATION_PATH}}widgetImages/BtsSprite.png") repeat scroll -60px -148px transparent;*/
    display: inline-block;
    height: 30px;
    margin: 0 3px;
    width: 40px;
}

._bcFixedButton ._bcShB:active {
    /*background: url("{{APPLICATION_PATH}}widgetImages/BtsSprite.png") repeat scroll -60px -148px transparent;*/
}

._bcFixedButton ._bcSDI {
    /*background: url("{{APPLICATION_PATH}}widgetImages/deals-icon.png") no-repeat scroll center center transparent;*/
    background-size: 30px 40px;
    border-left: solid 1px #999999;
    display: inline-block;
    height: 100%;
    width: 55px;
    float: right;
}

._bcFixedButton ._bcShD {
    color: #dda600;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    min-width: 120px;
}
