@model CryptoXchange.Models.TransferModel
@{
    ViewData["Title"] = "CryptoXchange";
    decimal currentExchange = 1m;

    if (null != Model)
    {
        currentExchange = Model.ExchangeRate;// - (Model.ExchangeRate * 0.05m);
    }
}

<section class="section-intro bg-secondary text-white text-center">
    <div class="container d-flex flex-column">
        <div class="row mt-auto">
            <div class="col-lg-8 col-sm-12 text-center mx-auto">
                <h1 class="display-4 mb-3">Exchange cryptocurrency<br>at the <b>best rate</b></h1>
                <p class="lead mb-5">Transfer from one wallet to another within seconds. It's that simple.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">
                <form>
                    <div class="form-row">
                        <div class="col-md-4 col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend uppercase">
                                    <div class="input-group-text" id="btnYouHave">You Have</div>
                                </div>
                                <input type="text" class="form-control" aria-label="Enter BTC amount" aria-describedby="btnYouHave" id="txtBTCAmount" />
                                <div class="input-group-append">
                                    <div class="input-group-text">BTC</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="input-group">
                                <div class="input-group-prepend uppercase">
                                    <div class="input-group-text" id="btnYouGet">You Get</div>
                                </div>
                                <input type="text" class="form-control" readonly aria-label="This is what you will get" aria-describedby="btnYouGet" id="txtBTPAmount" />
                                <div class="input-group-append">
                                    <div class="input-group-text">BTP</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            @if (null != Model)
                            {
                                <button class="btn btn-warning btn-block" type="button" data-toggle="modal" data-target="#dlgExchangeConfirm">Exchange (@(currentExchange) USD)!</button>
                            }
                            else
                            {
                                <button class="btn btn-warning btn-block" type="button" data-toggle="modal" data-target="#dlgExchangeConfirm">Exchange!</button>
                            }
                        </div>
                    </div>
                </form>
                <br />
                <p class="small">In order to transfer, all deposits less than 1.0 BTC must have at least 1 confirmation, between 1.0 and 10.0 BTC will require 2 confirmations, between 10.0 and 50.0 BTC will require 4 confirmations and any deposits over 50.0 BTC will require 6 confirmations.</p>
                <ul class="list-inline my-5">
                    <li class="list-inline-item">
                        <a class="h4 text-light p-2" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h4 text-light p-2" href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h4 text-light p-2" href="#">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h4 text-light p-2" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
@section scripts{
<script>
        ExchangeService.init("#txtBTCAmount", "#txtBTPAmount", @(currentExchange));
</script>
}
